form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
}
label {
  font-size: 16px;
  margin-bottom: 8px;
  color: #333;
}

select, input, textarea {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

select:focus, input:focus, textarea:focus {
  border-color: #4CAF50;
  outline: none;
}

button {
  font-size: 16px;
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
  text-align: center;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

option{
  text-align: center;
}
@media (max-width: 768px) {
  form {
    padding: 15px;
    gap: 15px;
  }

  label, select, input, textarea {
    font-size: 14px;
  }

  button {
    padding: 10px;
    font-size: 14px;
  }
}
